/* Start Variables */

:root {
    --main-color: #54d0dd;
    --alt-color: #343b42;
    --trans-color: #414a52;
    --trans-dur: 0.3s;
    --section-pad: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

h2.main-title {
    text-align: center;
    color: var(--alt-color, #343b42);
    font-weight: 400;
    font-size: 32px;
    position: relative;
    margin-bottom: 50px;
}

h2.main-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #00000033;
    width: 90px;
    height: 2px;
}

/* End Component */

/* Start Header */

header {
    position: fixed;
    width: 100%;
    background-color: var(--alt-color, #343b42);
    z-index: 9;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    position: relative;
}

header .logo a {
    color: #ffffffb3;
    text-transform: uppercase;
    font-size: 20px;
}

header .logo a i {
    color: var(--main-color, #54d0dd);
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    z-index: 3;
}

@media (max-width: 769px) {
    header nav ul {
        display: none;
    }

    header nav .menu:hover .icon+ul {
        display: flex;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header nav ul li {
        width: 100%;
    }
}

header nav ul a {
    display: block;
    padding: 20px;
    color: #ffffffb3;
    text-transform: uppercase;
    font-size: 12px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header nav ul a:hover {
    color: var(--main-color, #54d0dd);
}

header nav ul a.active {
    color: var(--main-color, #54d0dd);
}

header nav .icon {
    width: 55px;
    height: 40px;
    border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 768px) {
    header nav .icon {
        display: flex;
    }
}

header nav .icon:hover {
    background-color: var(--main-color, #54d0dd);
}

header nav .icon span {
    display: block;
    margin-bottom: 4px;
    width: 50%;
    height: 3px;
    background-color: #ffffffb3;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header nav .icon:hover span {
    background-color: white;
}

/* End Header */

/* Start Header */

.landing {
    min-height: 100vh;
    background-image: url(../photos/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #ffffffe6;
}

.landing h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 576px) {
    .landing h1 {
        font-size: 50px;
    }
}

.landing p {
    font-size: 22px;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .landing p {
        font-size: 18px;
    }
}

.landing a {
    text-transform: uppercase;
    background-color: var(--main-color, #54d0dd);
    display: block;
    width: fit-content;
    padding: 15px 25px;
    margin: 0 auto;
    color: var(--trans-color, #414a52);
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.landing a:hover {
    background-color: var(--trans-color, #414a52);
    color: var(--main-color, #54d0dd);
}

/* End Header */

/* Start About */

.about {
    background-color: var(--main-color, #54d0dd);
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
    }
}

.about .image {
    flex-basis: 49%;
}

@media (max-width: 991px) {
    .about .image {
        margin-bottom: 40px;
    }
}

.about img {
    max-width: 100%;
}

.about .text {
    flex-basis: 49%;
}

.about .text p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 21px;
    color: var(--trans-color, #414a52);
}

.about .text a {
    display: block;
    color: var(--main-color, #54d0dd);
    background-color: var(--trans-color, #414a52);
    width: fit-content;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.about .text a {
    background-color: var(--alt-color, #343b42);
}

/* End About */

/* Start Portfolio */

.portfolio {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
    background-color: #6a7077;
}

.portfolio h2 {
    color: var(--main-color, #54d0dd);
}

.portfolio nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.portfolio nav div {
    width: fit-content;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--main-color, #54d0dd);
    background-color: var(--trans-color, #414a52);
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.portfolio nav div.active,
.portfolio nav div:hover {
    background-color: var(--main-color, #54d0dd);
    color: var(--trans-color, #414a52);
}

.portfolio .gall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio .gall .image {
    flex-basis: calc((100% - 80px) / 4);
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    position: relative;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .portfolio .gall .image {
        flex-basis: calc((100% - 80px) / 2);
    }
}

@media (max-width: 768px) {
    .portfolio .gall .image {
        flex-basis: 90%;
        margin: 0 auto 40px;
    }
}

.portfolio .gall .image:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.portfolio .gall .image img {
    width: 100%;
}

.portfolio .gall .image a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 10px);
    background-color: rgba(0, 0, 0, 0.66);
    opacity: 0;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.portfolio .gall .image:hover a {
    opacity: 1;
}

.portfolio .gall .image a h4 {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

/* End Portfolio */

/* Start Contact */

.contact {
    padding-top: var(--section-pad, 100px);
    padding-bottom: 50px;
    background-color: var(--main-color, #54d0dd);
}

.contact form {
    width: 60%;
    margin: 100px auto 0;
}

@media (max-width: 991px) {
    .contact form {
        width: 90%;
    }
}

.contact form input {
    width: 47%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .contact form input {
        width: 100%;
    }
}

.contact form input:last-of-type {
    float: right;
}

.contact form textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.contact form button {
    display: block;
    margin: 30px auto 0;
    padding: 15px 20px;
    background-color: var(--trans-color, #414a52);
    color: var(--main-color, #54d0dd);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.contact form button:hover {
    background-color: var(--alt-color, #343b42);
}

.contact .social {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .social i {
    display: block;
    font-size: 26px;
    color: var(--alt-color, #343b42);
    padding: 5px;
    margin-right: 30px;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.contact .social i:hover {
    color: white;
}

/* End Contact */

/* Start Footer */

footer {
    background-color: var(--alt-color, #343b42);
    padding: 30px 0;
}

footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}

footer p a {
    color: rgba(255, 255, 255, 0.8);
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

footer p a:hover {
    color: var(--main-color, #54d0dd);
}

/* End Footer */